### QUESTION: On the "Bachelorette" and "Bachelor," how important is the "first impression?"
What percentage of winners recieved the "first impression" rose?

Data source: https://www.kaggle.com/fivethirtyeight/fivethirtyeight-bachelorette-dataset?select=bachelorette.csv

In [3]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# Read in data using pandas
df = pd.DataFrame(pd.read_csv('../resources/bachelorette.csv'))
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,SHOW,SEASON,ID,1,2,3,4,5,6,7,...,1,2,3,4,5,6,7,8,9,10
1,Bachelorette,13,13_BRYAN_A,R1,NaN,NaN,R,R,NaN,R,...,NaN,NaN,D6,D13,D1,D7,D1,D1,D1,D1
2,Bachelorette,13,13_PETER_K,NaN,R,NaN,NaN,NaN,R,R,...,NaN,D1,D6,D13,D9,D7,D1,D1,D1,D1
3,Bachelorette,13,13_ERIC_B,NaN,NaN,R,NaN,NaN,R,R,...,NaN,D10,D8,D13,D9,D1,D3,D1,D1,NaN
4,Bachelorette,13,13_DEAN_U,NaN,R,NaN,R,NaN,NaN,R,...,NaN,D8,D8,D1,D9,D7,D1,D1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Split data by show
bachelorette_df = df.loc[df['SHOW']=='Bachelorette']
bachelor_df = df.loc[df['SHOW']=='Bachelor']

# Create lists of relevant seasons
# (where the 'first impression rose' (R1) is used)
bachelorette_r1_seasons = bachelorette_df.loc[bachelorette_df['ELIMINATION-1']=='R1']['SEASON'].tolist()
bachelor_r1_seasons = bachelor_df.loc[bachelor_df['ELIMINATION-1']=='R1']['SEASON'].tolist()

# Filter both DFs by R1 lists
bachelorette_df = bachelorette_df[bachelorette_df['SEASON'].isin(bachelorette_r1_seasons)]
bachelor_df = bachelor_df[bachelor_df['SEASON'].isin(bachelor_r1_seasons)]

# Combine DFs, remove NaNs and reset the index
r1_seasons_df = bachelorette_df.append(bachelor_df).fillna('0').reset_index()
r1_seasons_df

,index,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,1,Bachelorette,13,13_BRYAN_A,R1,0,0,R,R,0,...,0,0,D6,D13,D1,D7,D1,D1,D1,D1
1,2,Bachelorette,13,13_PETER_K,0,R,0,0,0,R,...,0,D1,D6,D13,D9,D7,D1,D1,D1,D1
2,3,Bachelorette,13,13_ERIC_B,0,0,R,0,0,R,...,0,D10,D8,D13,D9,D1,D3,D1,D1,0
3,4,Bachelorette,13,13_DEAN_U,0,R,0,R,0,0,...,0,D8,D8,D1,D9,D7,D1,D1,0,0
4,5,Bachelorette,13,13_ADAM_G,0,0,0,0,0,0,...,0,D10,D8,D13,D9,D7,D3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681,813,Bachelor,05,05_DESHAUN_W,E,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
682,814,Bachelor,05,05_JESSICA_K,E,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
683,815,Bachelor,05,05_HOLLY_R,E,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
684,816,Bachelor,05,05_RACHEL_C,E,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
685,817,Bachelor,05,05_KRISTIN_C,E,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
# Create a list containing season winners
# (first contestant listed for each season)
winners = r1_seasons_df.groupby('SEASON').first()['CONTESTANT'].tolist()
winners

['03_JERRY_F',
 '04_JESSE_C',
 '05_ED_S',
 '06_ROBERT_M',
 '07_JP_R',
 '08_JEF_H',
 '09_CHRIS_S',
 '10_JOSH_M',
 '11_SHAWN_B',
 '12_JORDAN_R',
 '13_BRYAN_A',
 '14_VIENNA_G',
 '15_EMILY_M',
 '16_COURTNEY_R',
 '17_CATHERINE_G',
 '18_NIKKI_F',
 '19_WHITNEY_B',
 '20_LAUREN_B',
 '21_VANESSA_G']

In [50]:
# Create new columns for first impression and winners
r1_seasons_df['first_impression'] = ''
r1_seasons_df['winner'] = ''

# Iterate through the DF
for index, row in r1_seasons_df.iterrows():
    
    # Change 'first_impression' to 'y' if contestant got 'first impression rose'
    if r1_seasons_df.loc[index,'ELIMINATION-1'] == 'R1':
        r1_seasons_df.loc[index,'first_impression'] = 'y'
    else:
        r1_seasons_df.loc[index,'first_impression'] = 'n'
        
    # Change 'winner' to 'y' if contestant won the season
    if r1_seasons_df.loc[index,'CONTESTANT'] in winners:
        r1_seasons_df.loc[index,'winner'] = 'y'
    else:
        r1_seasons_df.loc[index,'winner'] = 'n'

# Create a smaller, more readable summary containing only relevant data
first_last = r1_seasons_df[['SHOW','SEASON','CONTESTANT','first_impression','winner']]
    
first_last

             SHOW SEASON    CONTESTANT first_impression winner
0    Bachelorette     13    13_BRYAN_A                y      y
1    Bachelorette     13    13_PETER_K                n      n
2    Bachelorette     13     13_ERIC_B                n      n
3    Bachelorette     13     13_DEAN_U                n      n
4    Bachelorette     13     13_ADAM_G                n      n
..            ...    ...           ...              ...    ...
681      Bachelor     05  05_DESHAUN_W                n      n
682      Bachelor     05  05_JESSICA_K                n      n
683      Bachelor     05    05_HOLLY_R                n      n
684      Bachelor     05   05_RACHEL_C                n      n
685      Bachelor     05  05_KRISTIN_C                n      n

[686 rows x 5 columns]